@model object

@{
	ViewBag.Title = "Dashboard";
	Layout = "_DashboardLayout";
}

@section PageHead
{
	<h1>
		Dashboard
		<small>Only the essentials</small>
	</h1>
	<ol class="breadcrumb">
		<li>Home</li>
		<li><i class="fa fa-dashboard active"></i> Dashboard</li>
	</ol>
}

<div class="jumbotron">
	<h1>The Dashboard</h1>
</div>

<p>Content would probably be around here.</p>
