@model App.MvcPages.RequestLog.RerquestLogDetailModel

<div class="panel panel-primary">
	<div class="panel-heading">
		<i class="fa fa-angle-double-right"></i> &nbsp;RequestLogID: @Model.RequestLogId
	</div>

	<div class="panel-body">
		<partial name="_Detail" model="Model"></partial>
	</div>
</div>
