@using App.MvcPages.RequestLog
@using App.Util
@model IndexViewModel

@{
	ViewBag.Title = "Site Request Log";
	Layout = "_DashboardLayout";
}

@section Styles
{
	<link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" asp-append-version="true">
}

@section Scripts
{
	<script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
	<script src="Index.js" asp-append-version="true"></script>
}

@section PageHead
{
	<h1>
		Site Request Log
		<small>View, Mutate, Implicate, Expunge</small>
	</h1>
	<ol class="breadcrumb">
		<li>Home</li>
		<li><i class="fa fa-gear"></i> Admin</li>
		<li class="active">Request Log</li>
	</ol>
}

<h2>@Model.PagedItems.TotalItemCount requests logged</h2>
<form id="logIndex" onsubmit="return false;">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-search"></i> &nbsp;Log Search
		</div>

		<div class="panel-body">
			<partial name="_IndexSearch" model="Model.Options"/>
			
			<button type="submit" class="btn btn-success btn-block">Search</button>
		</div>
	</div>

	<div class="panel panel-primary">
		<div class="panel-heading">
			<i class="fa fa-file-text-o"></i> &nbsp;Results
		</div>

		<div id="logResultTable" class="panel-body">
			<partial name="_IndexResultTable" model="Model.PagedItems"></partial>
		</div>
	</div>
</form>

<div id="requestLogDetailPanel"></div>

<div id="requestLogDetailModal" class="modal fade"></div>
